.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.157969px;}
.fc1{color:rgb(32,56,100);}
.fc0{color:rgb(255,255,255);}
.fs3{font-size:112.000000px;}
.fs2{font-size:114.000000px;}
.fs1{font-size:176.000000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:136.706070px;}
.y6{bottom:146.706070px;}
.y8{bottom:166.946075px;}
.yc{bottom:217.186081px;}
.yb{bottom:247.426086px;}
.y1{bottom:252.442314px;}
.y5{bottom:307.666092px;}
.y7{bottom:327.906090px;}
.y4{bottom:337.906090px;}
.y3{bottom:368.146091px;}
.ya{bottom:432.316334px;}
.y2{bottom:444.316334px;}
.h4{height:81.593750px;}
.h3{height:83.050781px;}
.h2{height:128.218750px;}
.h1{height:139.875000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x2{left:73.200012px;}
.x4{left:85.200012px;}
.x3{left:91.200012px;}
.x1{left:164.504089px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.543959pt;}
.fs3{font-size:149.333333pt;}
.fs2{font-size:152.000000pt;}
.fs1{font-size:234.666667pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:182.274760pt;}
.y6{bottom:195.608093pt;}
.y8{bottom:222.594767pt;}
.yc{bottom:289.581441pt;}
.yb{bottom:329.901449pt;}
.y1{bottom:336.589752pt;}
.y5{bottom:410.221456pt;}
.y7{bottom:437.208120pt;}
.y4{bottom:450.541453pt;}
.y3{bottom:490.861455pt;}
.ya{bottom:576.421778pt;}
.y2{bottom:592.421778pt;}
.h4{height:108.791667pt;}
.h3{height:110.734375pt;}
.h2{height:170.958333pt;}
.h1{height:186.500000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x2{left:97.600016pt;}
.x4{left:113.600016pt;}
.x3{left:121.600016pt;}
.x1{left:219.338786pt;}
}
